.over-all-container{
    padding: 15px;
    margin-left: 55px;
    width: 80%;
    
}


.header-content {
    display: flex; 
    justify-content: center;
    gap: 10%;
    padding: 10px; 
    
}

.header-content nav {
    display: flex; 
}

.header-content nav a {
    margin: 0 15px; 
    color: black; 
    text-decoration: none;
}

.header-content div {
    display: flex; 
    gap: 10px; 
}
.introduction{
    display: flex;
    justify-content: center;
    gap: -7%;
    margin-top: 10%;
}
.home-decor{
    display: flex;
    margin-top: 10%;
    margin-left: 20%;
    gap: 10%;
}
.stylish-pieces{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 8%;
}
.footer a{
    text-decoration: none;
    color: black;
}
.top-icons{
    background-color: black;
    padding: 10%;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 50%;
}

.top-icons i{
    color: white;
}